// bu yerda o'zgaruvchilar bor
$header-background: #FFFFFF;
$sitenav-link: #939CAA;
$sitenav-link-active: #FCB72B;
$hero-heading: #FFFFFF;
$hero-desc: #FFFFFF;
$services-desc: #495567;
$services-desc-small: #939CAA;
$information-heading: #495567;
$information-desc: #939CAA;
$signup-heading: #FFFFFF;
$signup-item-background: #E5ECF4;
$footer-bottom-link: #939CAA;
$footer-bottom-link-active: #FCB72B;
$footer-bottom-sites-link: #FCB72B;
$footer-bottom-sites-link-hover: #E5ECF4;
$button-background: #FCB72B;
$button-color: #FFFFFF;
$button-active-background-color: #FFFFFF;
$button-active-border-color: #FCB72B;
$button-active-color: #FCB72B;