// bu yerda button bor
.button {
  max-width: 200px;
  width: 100%;
  max-height: 53px;
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  background: #FCB72B;
  border: 3px solid transparent;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  // white-space: nowrap;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    background-color: white;
    border: 3px solid #FCB72B;
    color: #FCB72B;
  }
}